Привет, меня зовут Артем Хуршудов. Сегодня я проверю твой проект.
<br> Дальнейшее общение будет происходить на "ты" если это не вызывает никаких проблем.
<br> Желательно реагировать на каждый мой комментарий ('исправил', 'не понятно как исправить ошибку', ...)
<br> Пожалуйста, не удаляй комментарии ревьюера, так как они повышают качество повторного ревью.

Комментарии будут в <font color='green'>зеленой</font>, <font color='blue'>синей</font> или <font color='red'>красной</font> рамках:

<div class="alert alert-block alert-success">
<b>Успех:</b> Если все сделано отлично
</div>

<div class="alert alert-block alert-info">
<b>Совет: </b> Если можно немного улучшить
</div>

<div class="alert alert-block alert-danger">
<b>Ошибка:</b> Если требуются исправления. Работа не может быть принята с красными комментариями.
</div>

-------------------

Будет очень хорошо, если ты будешь помечать свои действия следующим образом:
<div class="alert alert-block alert-warning">
<b>Комментарий студента:</b> ...
</div>

<div class="alert alert-block alert-warning">
<b>Изменения:</b> Были внесены следующие изменения ...
</div>

### <font color='orange'>Общее впечатление</font>
* Большое спасибо за проделанную работу. Видно, что приложено много усилий.
* Над этим проектом нужно будет еще немного поработать. Однако, изменения не должны занять много времени.
* В работе я оставил несколько советов. Буду рад, если ты учтешь их.
* С радостью отвечу на твои вопросы, если они есть. Лучше всего их собрать в следующей ячейке. Жду новую версию проекта.

### <font color='orange'>Общее впечатление (ревью 2)</font>
* Для удобства все новые комментарии обозначены фразой "ревью 2".
* Удачи в доработке

### <font color='orange'>Общее впечатление (ревью 3)</font>
* После исправлений проект улучшился и теперь он может быть зачтен.
* Новый комментарий обозначен фразой "ревью 3".
* Удачи в дальнейшем обучении и следующих работах!

# Выбор локации для скважины

## Описание проекта
Нужно решить, где бурить новую скважину.
Шаги для выбора локации обычно такие:
1. В избранном регионе собирают характеристики для скважин: качество нефти и объём её запасов;
2. Строят модель для предсказания объёма запасов в новых скважинах;
3. Выбирают скважины с самыми высокими оценками значений;
4. Определяют регион с максимальной суммарной прибылью отобранных скважин.

Вам предоставлены пробы нефти в трёх регионах. Характеристики для каждой скважины в регионе уже известны. Нужна модель для определения региона, где добыча принесёт наибольшую прибыль. Надо проанализировать возможную прибыль и риски техникой Bootstrap.

## План проекта
1. Загрузить и подготовить данные.
2. Обучить и проверить модели для каждого региона:
    
    2.1. Разбить данные на обучающую и валидационную выборки в соотношении 75:25.
    
    2.2. Обучить модель и сделать предсказания на валидационной выборке.
    
    2.3. Сохранить предсказания и правильные ответы на валидационной выборке.
    
    2.4. Напечатать на экране средний запас предсказанного сырья и RMSE модели.
    
    2.5. Проанализироать результаты.
3. Подготовьтесь к расчёту прибыли:
    
    3.1. Все ключевые значения для расчётов сохраните в отдельных переменных.
    
    3.2. Рассчитайте достаточный объём сырья для безубыточной разработки новой скважины. Сравните полученный объём сырья со средним запасом в каждом регионе.
    
    3.3. Напишите выводы по этапу подготовки расчёта прибыли.
4. Напишите функцию для расчёта прибыли по выбранным скважинам и предсказаниям модели:
    
    4.1. Выберите скважины с максимальными значениями предсказаний.
    
    4.2. Просуммируйте целевое значение объёма сырья, соответствующее этим предсказаниям.
    
    4.3. Рассчитайте прибыль для полученного объёма сырья.
5. Посчитайте риски и прибыль для каждого региона:
    
    5.1. Примените технику Bootstrap с 1000 выборок, чтобы найти распределение прибыли.
    
    5.2. Найдите среднюю прибыль, 95%-й доверительный интервал и риск убытков. Убыток — это отрицательная прибыль.
    
    5.3. Напишите выводы: предложите регион для разработки скважин и обоснуйте выбор.

## Описание данных
Данные геологоразведки трёх регионов находятся в файлах:

`geo_data_0.csv`

`geo_data_1.csv`

`geo_data_2.csv`
* id — уникальный идентификатор скважины;
* f0, f1, f2 — три признака точек (неважно, что они означают, но сами признаки значимы);
* product — объём запасов в скважине (тыс. баррелей).

### Условия задачи:
* Для обучения модели подходит только линейная регрессия (остальные — недостаточно предсказуемые).
* При разведке региона исследуют 500 точек, из которых с помощью машинного обучения выбирают 200 лучших для разработки.
* Бюджет на разработку скважин в регионе — 10 млрд рублей.
* При нынешних ценах один баррель сырья приносит 450 рублей дохода. Доход с каждой единицы продукта составляет 450 тыс. рублей, поскольку объём указан в тысячах баррелей.
* После оценки рисков нужно оставить лишь те регионы, в которых вероятность убытков меньше 2.5%. Среди них выбирают регион с наибольшей средней прибылью.

Данные синтетические: детали контрактов и характеристики месторождений не разглашаются.

## 1. Загрузить и подготовить данные

In [1]:
import pandas as pd
from scipy import stats as st
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
import numpy as np

try:
    data0 = pd.read_csv('geo_data_0.csv')
    data1 = pd.read_csv('geo_data_1.csv')
    data2 = pd.read_csv('geo_data_2.csv')
except:
    data0 = pd.read_csv('/datasets/geo_data_0.csv')
    data1 = pd.read_csv('/datasets/geo_data_1.csv')
    data2 = pd.read_csv('/datasets/geo_data_2.csv')

<div class="alert alert-block alert-success">
<b>Успех:</b> Отлично, что все импорты собраны в первой ячейке ноутбука! Если у того, кто будет запускать твой ноутбук будут отсутствовать некоторые библиотеки, то он это увидит сразу, а не в процессе!
</div>

In [2]:
d = [data0, data1, data2]

for i in d:
    display(i.head())
    display(i.info())
    display(i.describe())

      id        f0        f1        f2     product
0  txEyH  0.705745 -0.497823  1.221170  105.280062
1  2acmU  1.334711 -0.340164  4.365080   73.037750
2  409Wp  1.022732  0.151990  1.419926   85.265647
3  iJLyR -0.032172  0.139033  2.978566  168.620776
4  Xdl7t  1.988431  0.155413  4.751769  154.036647

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 5 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   id       100000 non-null  object
 1   f0       100000 non-null  float64
 2   f1       100000 non-null  float64
 3   f2       100000 non-null  float64
 4   product  100000 non-null  float64
dtypes: float64(4), object(1)
memory usage: 3.8+ MB

None

                  f0             f1             f2        product
count  100000.000000  100000.000000  100000.000000  100000.000000
mean        0.500419       0.250143       2.502647      92.500000
std         0.871832       0.504433       3.248248      44.288691
min        -1.408605      -0.848218     -12.088328       0.000000
25%        -0.072580      -0.200881       0.287748      56.497507
50%         0.502360       0.250252       2.515969      91.849972
75%         1.073581       0.700646       4.715088     128.564089
max         2.362331       1.343769      16.003790     185.364347

      id         f0         f1        f2     product
0  kBEdx -15.001348  -8.276000 -0.005876    3.179103
1  62mP7  14.272088  -3.475083  0.999183   26.953261
2  vyE1P   6.263187  -5.948386  5.001160  134.766305
3  KcrkZ -13.081196 -11.506057  4.999415  137.945408
4  AHL4O  12.702195  -8.147433  5.004363  134.766305

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 5 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   id       100000 non-null  object
 1   f0       100000 non-null  float64
 2   f1       100000 non-null  float64
 3   f2       100000 non-null  float64
 4   product  100000 non-null  float64
dtypes: float64(4), object(1)
memory usage: 3.8+ MB

None

                  f0             f1             f2        product
count  100000.000000  100000.000000  100000.000000  100000.000000
mean        1.141296      -4.796579       2.494541      68.825000
std         8.965932       5.119872       1.703572      45.944423
min       -31.609576     -26.358598      -0.018144       0.000000
25%        -6.298551      -8.267985       1.000021      26.953261
50%         1.153055      -4.813172       2.011479      57.085625
75%         8.621015      -1.332816       3.999904     107.813044
max        29.421755      18.734063       5.019721     137.945408

      id        f0        f1        f2     product
0  fwXo0 -1.146987  0.963328 -0.828965   27.758673
1  WJtFt  0.262778  0.269839 -2.530187   56.069697
2  ovLUW  0.194587  0.289035 -5.586433   62.871910
3  q6cA6  2.236060 -0.553760  0.930038  114.572842
4  WPMUX -0.515993  1.716266  5.899011  149.600746

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 5 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   id       100000 non-null  object
 1   f0       100000 non-null  float64
 2   f1       100000 non-null  float64
 3   f2       100000 non-null  float64
 4   product  100000 non-null  float64
dtypes: float64(4), object(1)
memory usage: 3.8+ MB

None

                  f0             f1             f2        product
count  100000.000000  100000.000000  100000.000000  100000.000000
mean        0.002023      -0.002081       2.495128      95.000000
std         1.732045       1.730417       3.473445      44.749921
min        -8.760004      -7.084020     -11.970335       0.000000
25%        -1.162288      -1.174820       0.130359      59.450441
50%         0.009424      -0.009482       2.484236      94.925613
75%         1.158535       1.163678       4.858794     130.595027
max         7.238262       7.844801      16.739402     190.029838

Главный вывод, что данные не имеют пропусков и уже готовы к работе

<div class="alert alert-block alert-success">
<b>Успех:</b> Данные загружены и осмотрены корректно.
</div>

## 2. Обучить и проверить модели для каждого региона:
На данном этапе стоит задача потсроения модели для предсказания объёма запасов в скважинах по линейной регрессии

### 2.1. Разбить данные на обучающую и валидационную выборки в соотношении 75:25.
Выделим признаки и целевой признак по каждой из датасетов, а затем поделим данные на обучающие(по 75%) и валидационные(по 25%)

In [3]:
#data0:
features0 = data0.drop(['id','product'],axis=1)
target0 = data0['product']
features_train0, features_valid0, target_train0, target_valid0 = train_test_split(features0, target0 ,test_size=0.25, random_state=12)

#data1:
features1 = data1.drop(['id','product'],axis=1)
target1 = data1['product']
features_train1, features_valid1, target_train1, target_valid1 = train_test_split(features1, target1 ,test_size=0.25, random_state=12)

#data2:
features2 = data2.drop(['id','product'],axis=1)
target2 = data2['product']
features_train2, features_valid2, target_train2, target_valid2 = train_test_split(features2, target2 ,test_size=0.25, random_state=12)

### 2.2. Обучить модель и сделать предсказания на валидационной выборке.

### 2.3. Сохранить предсказания и правильные ответы на валидационной выборке.

### 2.4. Напечатать на экране средний запас предсказанного сырья и RMSE модели.

In [4]:
#Запишем предсказания по регионам в следующие переменные:
predictions0 = []
predictions1 = []
predictions2 = []
# Создадим списки из нужных переменных для цикла
preds = [predictions0, predictions1, predictions2]

features_train = [features_train0, features_train1, features_train2]
features_valid = [features_valid0, features_valid1, features_valid2]
target_train = [target_train0, target_train1, target_train2]
target_valid = [target_valid0, target_valid1, target_valid2]

for i in range(len(features_train)):
    model = LinearRegression()
    model.fit(features_train[i], target_train[i])
    predictions = model.predict(features_valid[i])
    for n in predictions:
        if n not in preds[i]:
            preds[i].append(n)
    print('region',i)
    print('Средний запас предсказанного сырья:',predictions.mean())
    print('Фактический средний запас сырья:',target_valid[i].mean())
    print('RMSE модели на валидационной выборке:', mean_squared_error(target_valid[i], predictions)**0.5)

region 0
Средний запас предсказанного сырья: 92.13368147346338
Фактический средний запас сырья: 92.49792770543539
RMSE модели на валидационной выборке: 37.78806596603057
region 1
Средний запас предсказанного сырья: 69.0378932957214
Фактический средний запас сырья: 69.03601500730349
RMSE модели на валидационной выборке: 0.8885339556138794
region 2
Средний запас предсказанного сырья: 95.05096092338655
Фактический средний запас сырья: 95.03554853058824
RMSE модели на валидационной выборке: 39.800203117903365

### 2.5. Проанализироать результаты.
Мы наблюдаем, что модель максимально адекватно предсказала средние запасы скважин по регионам.

Мы также видим, что region 0 и region 2 имеют практические одинаковые запасы предсказанного количества сырья, а также почти равное значение RMSE. Разительно отличаются получившиеся значения по region 1, где RMSE намного меньше остальнх регионов.

<div class="alert alert-block alert-success">
<b>Успех:</b> Модели обучены корректно. Радует, что ты активно используешь циклы. Это помогает избежать дублирования кода, а значит уменьшает вероятность совершить ошибку/опечатку!
</div>

## 3. Подготовить к расчёту прибыли:
Приведем еще раз данные для расчетов:
* Бюджет на разработку скважин в регионе — 10 млрд рублей.
* При разведке региона исследуют 500 точек, из которых с помощью машинного обучения выбирают 200 лучших для разработки.
* При нынешних ценах один баррель сырья приносит 450 рублей дохода. Доход с каждой единицы продукта составляет 450 тыс. рублей, поскольку объём указан в тысячах баррелей.

### 3.1. Все ключевые значения для расчётов сохранить в отдельных переменных.

### 3.2. Рассчитать достаточный объём сырья для безубыточной разработки новой скважины. Сравнить полученный объём сырья со средним запасом в каждом регионе.
Точка безубыточности — объём производства и реализации продукции, при котором расходы будут компенсированы доходами, а при производстве и реализации каждой последующей единицы продукции предприятие начинает получать прибыль. Нужно найти тот объем сырья, при котором прибыль будет нулевая

### 3.3. Написать выводы по этапу подготовки расчёта прибыли.

In [5]:
COSTS = 10000000/200 # тыс. руб. за одну из 200 лучших скважин
AVG_REVENUE = 450 #тыс. руб
required_quantity = COSTS/AVG_REVENUE #тыс. баррелей с 1 скважины

#data0
average_quantity = data0['product'].sort_values(ascending=False).mean() #тыс.баррелей
# average_total_revenue = average_revenue * average_quantity # тыс. рублей с одной скважины
# total_revenue = average_total_revenue * 200 # тыс. рублей
# profit = total_revenue - costs

#data1
average_quantity1 = data1['product'].sort_values(ascending=False).mean() #тыс.баррелей

#data2
average_quantity2 = data2['product'].sort_values(ascending=False).mean() #тыс.баррелей

print('Требуемый объем {:.3f} тыс баррелей с 1 скважины'.format(required_quantity))
print('Средний факт. объем с region 0 {:.3f} тыс баррелей с 1 скважины'.format(average_quantity))
print('Средний факт. объем с region 1 {:.3f} тыс баррелей с 1 скважины'.format(average_quantity1))
print('Средний факт. объем с region 2 {:.3f} тыс баррелей с 1 скважины'.format(average_quantity2))

Требуемый объем 111.111 тыс баррелей с 1 скважины
Средний факт. объем с region 0 92.500 тыс баррелей с 1 скважины
Средний факт. объем с region 1 68.825 тыс баррелей с 1 скважины
Средний факт. объем с region 2 95.000 тыс баррелей с 1 скважины

Мы видим, что для безубыточной разработки одной скважины нужно 111.111 тыс. баррелей. Если сравнивать полученное значение со средними запасами скважин, то получим значения, не достаточные для получения прибыли.

<div class="alert alert-block alert-info">

<b>Совет: </b> В названиях константных переменных лучше использовать только БОЛЬШИЕ буквы. Это соглашение между программистами: https://pythonworld.ru/osnovy/pep-8-rukovodstvo-po-napisaniyu-koda-na-python.html#id29 .
</div>
<div class="alert alert-block alert-warning">
<b>Изменения:</b> Спасибо, переписал большими буквами
</div>
<div class="alert alert-block alert-success">
<b>Успех:</b> Точка безубыточности найдена верно!
</div>

<div class="alert alert-block alert-danger">
<b>Ошибка:</b> Сравнение нужно провести со средним по всем скважинам, а не по топ-200.
</div>
<div class="alert alert-block alert-warning">
<b>Изменения:</b> Исправил
</div>

<div class="alert alert-block alert-success">
<b>Успех (ревью 2):</b> Верно.
</div>

## 4. Написать функцию для расчёта прибыли по выбранным скважинам и предсказаниям модели:

### 4.1. Выбрать скважины с максимальными значениями предсказаний.

### 4.2. Просуммировать целевое значение объёма сырья, соответствующее этим предсказаниям.

### 4.3. Рассчитать прибыль для полученного объёма сырья.
Функция должна выбрать 200 лучших скважин и на основе ответов подсчитать возможную прибыль.

In [6]:
predictions0 = pd.Series(predictions0, index=target_valid0.index)
predictions1 = pd.Series(predictions1, index=target_valid1.index)
predictions2 = pd.Series(predictions2, index=target_valid2.index)

In [7]:
def profit(target, prediсtions, n, COSTS):
    # Выбираем скважины с максимальными значениями предсказаний
    sorted_prediсtions = prediсtions.sort_values(ascending=False)
    # Выбираем из target индексы от predictions
    selected_target = target[sorted_prediсtions.index][:n]
    # Суммируем целевое значение объёма сырья
    quantity = selected_target.sum()
    # Считаем выручку, average_revenue = 450 тыс.руб
    revenue = quantity*AVG_REVENUE
    # Считаем расходы за все 200 лучших скважин
    COSTS = COSTS*200
    # Считаем прибыль
    profit = revenue - COSTS
    return profit

<div class="alert alert-block alert-success">
<b>Успех:</b> Верно.
</div>

In [8]:
profit0 = profit(target_valid0, predictions0, 200, COSTS)
profit1 = profit(target_valid1, predictions1, 200, COSTS)
profit2 = profit(target_valid2, predictions2, 200, COSTS)

print('Прибыль с region 0 = {:.3f} тыс. рублей'.format(profit0))
print('Прибыль с region 1 = {:.3f} тыс. рублей'.format(profit1))
print('Прибыль с region 2 = {:.3f} тыс. рублей'.format(profit2))

Прибыль с region 0 = 3418631.961 тыс. рублей
Прибыль с region 1 = 2415086.697 тыс. рублей
Прибыль с region 2 = 2549949.202 тыс. рублей

## 5. Посчитайте риски и прибыль для каждого региона:

### 5.1. Примените технику Bootstrap с 1000 выборок, чтобы найти распределение прибыли.

### 5.2. Найдите среднюю прибыль, 95%-й доверительный интервал и риск убытков. Убыток — это отрицательная прибыль.

### 5.3. Напишите выводы: предложите регион для разработки скважин и обоснуйте выбор.

In [11]:
state = np.random.RandomState(12)
target_valids = [target_valid0, target_valid1, target_valid2]
predictions = [predictions0, predictions1, predictions2]

#region 0 
values0 = []
neg_values0 = 0
for i in range(1000):
    target_subsample = target_valids[0].sample(n=500, replace=True, random_state=state)
    pred_subsample = predictions[0][target_subsample.index]
    res = profit(target_subsample, pred_subsample, 200, COSTS)
    values0.append(res)
    if res < 0:
        neg_values0 += 1

values0 = pd.Series(values0)
mean0 = values0.mean()
lower0 = values0.quantile(0.025)
upper0 = values0.quantile(0.975)

print("Средняя прибыль region 0:", mean0)
print('95% доверительный интервал: ({:.3f}, {:.3f})'.format(lower0, upper0))
print('Риск убытков:', neg_values0/len(values0))
print('-----------------------')

#region 1
values1 = []
neg_values1 = 0

for i in range(1000):
    target_subsample = target_valids[1].sample(n=500, replace=True, random_state=state)
    pred_subsample = predictions[1][target_subsample.index]
    res = profit(target_subsample, pred_subsample, 200, COSTS)
    values1.append(res)
    if res < 0:
        neg_values1 += 1

values1 = pd.Series(values1)
mean1 = values1.mean()
lower1 = values1.quantile(0.025)
upper1 = values1.quantile(0.975)

print("Средняя прибыль region 1:", mean1)
print('95% доверительный интервал: ({:.3f}, {:.3f})'.format(lower1, upper1))
print('Риск убытков:', neg_values1/len(values1))
print('-----------------------')

#region 2
values2 = []
neg_values2 = 0

for i in range(1000):
    target_subsample = target_valids[2].sample(n=500, replace=True, random_state=state)
    pred_subsample = predictions[2][target_subsample.index]
    res = profit(target_subsample, pred_subsample, 200, COSTS)
    values2.append(res)
    if res < 0:
        neg_values2 += 1

values2 = pd.Series(values2)
mean2 = values2.mean()
lower2 = values2.quantile(0.025)
upper2 = values2.quantile(0.975)

print("Средняя прибыль region 2:", mean2)
print('95% доверительный интервал: ({:.3f}, {:.3f})'.format(lower2, upper2))
print('Риск убытков:', neg_values2/len(values2))
print('-----------------------')

Средняя прибыль region 0: 475541.8762839323
95% доверительный интервал: (-50083.021, 1008353.696)
Риск убытков: 0.039
-----------------------
Средняя прибыль region 1: 538007.9407223575
95% доверительный интервал: (133808.296, 965199.256)
Риск убытков: 0.003
-----------------------
Средняя прибыль region 2: 370412.66027151304
95% доверительный интервал: (-152777.383, 916584.604)
Риск убытков: 0.09
-----------------------

<div class="alert alert-block alert-danger">

<b>Ошибка (ревью 2):</b> А вот интервал посчитан неверно. Нужно использовать `.quantile()`.
</div>
<div class="alert alert-block alert-warning">
<b>Изменения 2:</b> Исправил. Я так понимаю, в прошлой версии нашел интервал по средним значениям прибыли? Сорри, запутался немного 
</div>

<div class="alert alert-block alert-success">
<b>Успех (ревью 3):</b> Да. В прошлый раз ты посчитал интервал на среднее (то есть если ты будешь перезпускать код, то средняя прибыль будет в этом интервале).
</div>

<div class="alert alert-block alert-danger">
<b>Ошибка:</b> Не забудь про риск убытков – долю случаев в которых прибыль отрицательна.
</div>
<div class="alert alert-block alert-warning">
<b>Изменения:</b> Все исправил
</div>

<div class="alert alert-block alert-success">
<b>Успех (ревью 2):</b> С риском все ОК.
</div>

## Вывод: 
По полученным значениям, мы видим, что все регионы спообны принести прибыль от разработки скважин. При этом самой прибыльной из них все же считается region 1. С вероятностью 95% в region 1 мы можем получить от 133.8 млн руб до 965.2 млн.руб. При этом стоит отметить  данном регионе самые низкие риски убытков (0.3%).

Что касается остальных регионов:
* в region 0 риски убытков значительно выше, чем в region 1 (3.9%), и, соответственно, возможная прибыль не столь высокая 
* в region 2 самые высокие риски убытков (9%), а также самая низкая средняя возможная прибыль

**Итог: В качестве выбора локации для разработки месторождений следует выбрать region 1**